<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vidly Rentals</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_NavBar") @*Html.Partial() also accepts models and viewModels as second arguments (...., Model.Movie), (...., ViewModel.RandomMovieViewModel), etc... Also, if you were to add a model to the shared layout, if you do not specify another model in the partial, the main model will automatically be passed to the partial (so _Layout to _NavBar)*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Vidly Rentals</p>
        </footer>
    </div>

    @*By default, MVC framework does not have client-side validation enabled. The "jQueryval" bundle in the Bundle.config is not referenced below. But on any page where we need client-side validation, we can reference it at the bottom of the page. LS 56*@

    @Scripts.Render("~/bundles/lib")
    @RenderSection("scripts", required: false)
</body>
</html>
